{{ define "main" }}
<section class="py-5 bg-light">
  <div class="container px-5">
    {{ partial "breadcrumb.html" . }}
    <div class="row gx-5">
      <div class="col-xl-12">
        <!-- <h2 class="fw-bolder fs-5 mb-4">{{ .Title }}</h2> -->
        {{ range .Pages }}
        <div class="mb-4">
          <div class="small text-muted">{{.Lastmod.Format "02-01-2006"}}</div>
          <a class="link-dark" href="{{.Permalink}}"><h3 class="text-secondary">{{.Title}}</h3></a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
